<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @car.customer_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @car.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @car.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @car.car_type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @car.maker.name %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
